@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Sriracha', cursive;
    --fonte03: 'Passion One', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte03);
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 2em;
    font-family: var(--fonte01);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte02);
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgb(45, 45, 45);
    background-attachment: fixed;  
}

section.imagem > p {
    background-color: rgba(16, 16, 16, 0.605);
    padding-bottom: 40px;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#img2 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white; 
    text-align: center;
    font-family: var(--fonte01);
    font-size: 20px;
}

