@charset "UTF-8";

h1 {  /*box-level*/
    
    background-color: lightgray;
    height: 300px;
    width: 300px;

    border: 10px solid darkslategray;

    padding: 10px 20px 10px 10px;

    margin: 20px auto 40px auto;

    outline: 5px dashed salmon;
}

a {  /*inline-level */
    display: inline-block;
    border: 10px solid red;

    padding: 10px;

}



