@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
    
body {
    background-image: linear-gradient(to left , #3E7E8C, #D0E9F2);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #3f535885;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0f315e;
    text-align: center;
    text-shadow: 1px 1px 2px #0f315ed0;
}

h2 {
    color: #164059;
}
     
p {
    text-align: justify;
}